{{#mdl-card title='Breeze Nation'}}
  <div class="mdl-card__supporting-text">
    <div class="quality-data">
        {{#if requesting}}
            {{mdl-spinner isSingleColor=true class="spinner"}}
        {{/if}}
        {{#if airQuality.data_valid}}
            <p>
                <strong>Place Quality:</strong>
                {{airQuality.breezometer_description}}
            </p>
            <p>
                <strong>Country:</strong>
                {{airQuality.country_name}}
            </p>
            <p>
                <strong>Overall Quality:</strong>
                {{airQuality.country_description}}
            </p>
            <p>
                <strong>Last Measurement:</strong>
                {{moment-format airQuality.datetime 'DD.MM.YYYY HH:mm'}}
            </p>
        {{else}}
            {{#if airQuality.init}}
                <div class="init">
                    <strong>Place a marker on the map or search a place by name</strong>
                </div>
            {{else}}
                <div class="error">
                    <strong>No measurements for selected place found</strong>
                </div>
            {{/if}}
        {{/if}}
    </div>
    {{g-autocomplete value=address on-select=(action 'didUpdatePlace') class="mdl-textfield mdl-js-textfield"}}
    {{g-maps name="my-map" lat=lat lng=lng zoom=zoom showMapTypeControl=false click="clickOnMap" markers=markers searchbox=true}}
  </div>
{{/mdl-card}}